#!usr/bin/env xdg-open

[Desktop Entry]
version=1.0
Type=Application
Terminal=false
Exec=python3 /path/to/exec/webFill.py
Name=Discord Launcher
Comment=Logs into Discord from an incognito chromium window.
Icon=/path/to/icon/logoDiscord.png
